<div class="panel">
  <div class="panel-header">
    <h3>scheda Ecocolor Doppler Arti INferiori Arterioso</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <h3>variabileAnamnesi</h3>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-12 colxl-12" style="background: none;">
        <div class="form-group">
          <textarea class="form-control" name="name" rows="6" cols="80"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-lg-6 col-xl-3">
            <h2>qui esiste un'imaggine</h2>
            <img src="./I0067573.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h3>variabileAnamnesi</h3>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-12 colxl-12" style="background: none;">
        <div class="form-group">
          <textarea class="form-control" name="name" rows="6" cols="80"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
