<div class="panel">
  <div class="panel-header">
    CHIRURGIA VASCOLARE
  </div>
  <div class="panel-body">
    <div class="">
      <section class="">
        <div class="row">
          <div class="col-xs-12">
            <h3>variabileAnamnesi</h3>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-6 colxl-6" style="background: none;">
            <div class="form-group">
              <textarea class="form-control" name="name" rows="6" cols="80"></textarea>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-4 colxl-6" style="background: nonde;">
            <div class="row">
              <div class="col-xs-12 col-sm-6" style="background: none;">
                <label for="">variabileNicotina</label>&nbsp;
                <label class="ui-checkbox"><input name="checkbox1" type="checkbox" value="option1"><span>&nbsp;</span></label>
              </div>
              <div class="col-xs-12 col-sm-6" style="background: none;">
                <label for="">variabileNicotina</label>&nbsp;
                <label class="ui-checkbox"><input name="checkbox1" type="checkbox" value="option1"><span>&nbsp;</span></label>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6" style="background: none;">
                <label for="">variabileNicotina</label>&nbsp;
                <label class="ui-checkbox"><input name="checkbox1" type="checkbox" value="option1"><span>&nbsp;</span></label>
              </div>
              <div class="col-xs-12 col-sm-6" style="background: none;">
                <label for="">variabileNicotina</label>&nbsp;
                <label class="ui-checkbox"><input name="checkbox1" type="checkbox" value="option1"><span>&nbsp;</span></label>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6" style="background: none;">
                <label for="">variabileNicotina</label>&nbsp;
                <label class="ui-checkbox"><input name="checkbox1" type="checkbox" value="option1"><span>&nbsp;</span></label>
              </div>
              <div class="col-xs-12 col-sm-6" style="background: none;">
                <label for="">variabileNicotina</label>&nbsp;
                <label class="ui-checkbox"><input name="checkbox1" type="checkbox" value="option1"><span>&nbsp;</span></label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h3>variabileAnamnesi</h3>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-6 colxl-6" style="background: none;">
            <div class="form-group">
              <textarea class="form-control" name="name" rows="6" cols="80"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h3>variabileAnamnesi</h3>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-6 colxl-6" style="background: none;">
            <div class="form-group">
              <textarea class="form-control" name="name" rows="6" cols="80"></textarea>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-5 colxl-6" style="background: none;">
            <div class="row text-center">
              <h4>variabileDoppler && variabilePeriferici</h4>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-6">
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="col-xs-6 text-center">
                  <div class="form-group">
                    <label for="">Sx</label>&nbsp;
                  </div>
                </div>
                <div class="col-xs-6 text-center">
                  <div class="form-group">
                    <label for="">Dx</label>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <label>variabileRadialis</label>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="col-xs-6 text-center">
                  <div class="form-group">
                    <button type="button" name="button" class="btn btn-sm btn-success"><b>+</b></button>
                    <input type="form-control input-sm" style="width: 30px; margin: 1%; border: 2px none solid; color: none; text-align:right;">
                    <button type="button" name="button" class="btn btn-sm btn-danger"><b>-</b></button>
                  </div>
                </div>
                <div class="col-xs-6 text-center">
                  <div class="form-group">
                    <button type="button" name="button" class="btn btn-sm btn-success"><b>+</b></button>
                    <input type="form-control input-sm" style="width: 30px; margin: 1%; border: 2px none solid; color: none; text-align:right;">
                    <button type="button" name="button" class="btn btn-sm btn-danger"><b>-</b></button>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <label>variabileRadialis</label>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="col-xs-6 text-center">
                  <div class="form-group">
                    <button type="button" name="button" class="btn btn-sm btn-success"><b>+</b></button>
                    <input type="form-control input-sm" style="width: 30px; margin: 1%; border: 2px none solid; color: none; text-align:right;">
                    <button type="button" name="button" class="btn btn-sm btn-danger"><b>-</b></button>
                  </div>
                </div>
                <div class="col-xs-6 text-center">
                  <div class="form-group">
                    <button type="button" name="button" class="btn btn-sm btn-success"><b>+</b></button>
                    <input type="form-control input-sm" style="width: 30px; margin: 1%; border: 2px none solid; color: none; text-align:right;">
                    <button type="button" name="button" class="btn btn-sm btn-danger"><b>-</b></button>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <label>variabileRadialis</label>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="col-xs-6 text-center">
                  <div class="form-group">
                    <button type="button" name="button" class="btn btn-sm btn-success"><b>+</b></button>
                    <input type="form-control input-sm" style="width: 30px; margin: 1%; border: 2px none solid; color: none; text-align:right;">
                    <button type="button" name="button" class="btn btn-sm btn-danger"><b>-</b></button>
                  </div>
                </div>
                <div class="col-xs-6 text-center">
                  <div class="form-group">
                    <button type="button" name="button" class="btn btn-sm btn-success"><b>+</b></button>
                    <input type="form-control input-sm" style="width: 30px; margin: 1%; border: 2px none solid; color: none; text-align:right;">
                    <button type="button" name="button" class="btn btn-sm btn-danger"><b>-</b></button>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6">
                <label>variabileRadialis</label>
              </div>
              <div class="col-xs-12 col-sm-6">
                <div class="col-xs-6 text-center">
                  <div class="form-group">
                    <button type="button" name="button" class="btn btn-sm btn-success"><b>+</b></button>
                    <input type="form-control input-sm" style="width: 30px; margin: 1%; border: 2px none solid; color: none; text-align:right;">
                    <button type="button" name="button" class="btn btn-sm btn-danger"><b>-</b></button>
                  </div>
                </div>
                <div class="col-xs-6 text-center">
                  <div class="form-group">
                    <button type="button" name="button" class="btn btn-sm btn-success"><b>+</b></button>
                    <input type="form-control input-sm" style="width: 30px; margin: 1%; border: 2px none solid; color: none; text-align:right;">
                    <button type="button" name="button" class="btn btn-sm btn-danger"><b>-</b></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h3>variabileAnamnesi</h3>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-6 colxl-6" style="background: none;">
            <div class="form-group">
              <textarea class="form-control" name="name" rows="6" cols="80"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <h3>variabileAnamnesi</h3>
          </div>
          <div class="col-xs-12 col-sm-6 col-lg-6 colxl-6" style="background: none;">
            <div class="form-group">
              <textarea class="form-control" name="name" rows="6" cols="80"></textarea>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
