<div class="panel">
  <div class="panel-header">
    <h3>Scheda Chirurgica Toracica</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <h3>variabileAnamnesi</h3>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-12 col-xl-12" style="background: none;">
        <div class="form-group">
          <textarea class="form-control" name="name" rows="6" col="1000"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h3>variabileAnamnesi</h3>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-12 col-xl-12" style="background: none;">
        <div class="form-group">
          <textarea class="form-control" name="name" rows="6" col="1000"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h3>variabileAnamnesi</h3>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-12 col-xl-12" style="background: none;">
        <div class="form-group">
          <textarea class="form-control" name="name" rows="6" col="1000"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h3>variabileAnamnesi</h3>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-12 col-xl-12" style="background: none;">
        <div class="form-group">
          <textarea class="form-control" name="name" rows="6" col="1000"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h3>variabileAnamnesi</h3>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-12 col-xl-12" style="background: none;">
        <div class="form-group">
          <textarea class="form-control" name="name" rows="6" col="1000"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h3>variabileAnamnesi</h3>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-12 col-xl-12" style="background: none;">
        <div class="form-group">
          <textarea class="form-control" name="name" rows="6" col="1000"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h3>variabileAnamnesi</h3>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-12 col-xl-12" style="background: none;">
        <div class="form-group">
          <textarea class="form-control" name="name" rows="6" col="1000"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
