<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>{{'variabiletittle'|translate}}</h4>
  </div>
  <div class="panel-body">
    <div class="">
      <div class="col-xs-12">
        <h3>{{'variabileAnamnesi'|translate}}</h3>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-12 col-xl-12" style="background: none;">
        <div class="form-group">
          <textarea ng-model="formData.schedaVisitaChirurgicaToracica.anamnesi" class="form-control" name="name" rows="6" col="1000"></textarea>
        </div>
      </div>
    </div>
    <div class="">
      <div class="col-xs-12">
        <h3>{{'variabileFattori'|translate}}</h3>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-12 col-xl-12" style="background: none;">
        <div class="form-group">
          <textarea ng-model="formData.schedaVisitaChirurgicaToracica.fattori" class="form-control" name="name" rows="6" col="1000"></textarea>
        </div>
      </div>
    </div>
    <div class="">
      <div class="col-xs-12">
        <h3>{{'variabileallergie'|translate}}</h3>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-12 col-xl-12" style="background: none;">
        <div class="form-group">
          <textarea ng-model="formData.schedaVisitaChirurgicaToracica.allergie" class="form-control" name="name" rows="6" col="1000"></textarea>
        </div>
      </div>
    </div>
    <div class="">
      <div class="col-xs-12">
        <h3>{{'variabileDisturbi'|translate}}</h3>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-12 col-xl-12" style="background: none;">
        <div class="form-group">
          <textarea ng-model="formData.schedaVisitaChirurgicaToracica.disturbi" class="form-control" name="name" rows="6" col="1000"></textarea>
        </div>
      </div>
    </div>
    <div class="">
      <div class="col-xs-12">
        <h3>{{'variabileEsame'|translate}}</h3>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-12 col-xl-12" style="background: none;">
        <div class="form-group">
          <textarea ng-model="formData.schedaVisitaChirurgicaToracica.esame" class="form-control" name="name" rows="6" col="1000"></textarea>
        </div>
      </div>
    </div>
    <div class="">
      <div class="col-xs-12">
        <h3>{{'variabileDiagnosi'|translate}}</h3>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-12 col-xl-12" style="background: none;">
        <div class="form-group">
          <textarea ng-model="formData.schedaVisitaChirurgicaToracica.diagnose" class="form-control" name="name" rows="6" col="1000"></textarea>
        </div>
      </div>
    </div>
    <div class="">
      <div class="col-xs-12">
        <h3>{{'variabileConsigli'|translate}}</h3>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-12 col-xl-12" style="background: none;">
        <div class="form-group">
          <textarea ng-model="formData.schedaVisitaChirurgicaToracica.consigli" class="form-control" name="name" rows="6" col="1000"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
