<div class="panel panel-primary">
  <div class="panel-heading">
    <h4>{{'variabileTittle'|translate}}</h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <h3>{{'variabileQuesito'|translate}}</h3>
      </div>
      <div class="col-xs-12 col-sm-12 col-lg-12 col-xl-12">
          <textarea ng-model="formData.schedaDoppler.quesito" class="form-control" name="name" rows="6" cols="80"></textarea>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <h3>{{'variabilePressione'|translate}}</h3>
      </div>
      <div class="col-xs-12 col-sm-6 col-lg-6 colxl-6" style="background: none;">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">{{'variabilePulso'|translate}}</th>
              <th scope="col">dx</th>
              <th scope="col">sx</th>
              <th scope="col">{{'variabilePulso'|translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{'variabileRad'|translate}}</th>
              <td class="text-center">
                <select ng-model="formData.schedaDoppler.pressione.rad.polso1" class="form-control" style="min-width:65px;">
                  <option value="true">+</option>
                  <option value="false">-</option>
                </select>
              </td>
              <td><input ng-change="esegueOperazione();" ng-model="formData.schedaDoppler.pressione.rad.dx" type="number" class="form-control input-sm" style="text-align:right;"></td>
              <td><input ng-change="esegueOperazione();" ng-model="formData.schedaDoppler.pressione.rad.sx" type="number" class="form-control input-sm" style="text-align:right;"></td>
              <td class="text-center">
                <select ng-model="formData.schedaDoppler.pressione.rad.polso2" class="form-control" style="min-width:65px;">
                  <option value="true">+</option>
                  <option value="false">-</option>
                </select>
              </td>
            </tr>
            <tr>
              <th scope="row">{{'variabileAnt'|translate}}</th>
              <td class="text-center">
                <select ng-model="formData.schedaDoppler.pressione.ant.polso1" class="form-control" style="min-width:65px;">
                  <option value="true">+</option>
                  <option value="false">-</option>
                </select>
              </td>
              <td><input ng-change="esegueOperazione();" ng-model="formData.schedaDoppler.pressione.ant.dx" type="number" class="form-control input-sm" style="text-align:right;"></td>
              <td><input ng-change="esegueOperazione();" ng-model="formData.schedaDoppler.pressione.ant.sx" type="number" class="form-control input-sm" style="text-align:right;"></td>
              <td class="text-center">
                <select ng-model="formData.schedaDoppler.pressione.ant.polso2" class="form-control" style="min-width:65px;">
                  <option value="true">+</option>
                  <option value="false">-</option>
                </select>
              </td>
            </tr>
            <tr>
              <th scope="row">{{'variabilePost'|translate}}</th>
              <td class="text-center">
                <select ng-model="formData.schedaDoppler.pressione.post.polso1" class="form-control" style="min-width:65px;">
                  <option value="true">+</option>
                  <option value="false">-</option>
                </select>
              </td>
              <td><input ng-change="esegueOperazione();" ng-model="formData.schedaDoppler.pressione.post.dx" type="number" class="form-control input-sm" style="text-align:right;"></td>
              <td><input ng-change="esegueOperazione();" ng-model="formData.schedaDoppler.pressione.post.sx" type="number" class="form-control input-sm" style="text-align:right;"></td>
              <td class="text-center">
                <select ng-model="formData.schedaDoppler.pressione.post.polso2" class="form-control" style="min-width:65px;">
                  <option value="true">+</option>
                  <option value="false">-</option>
                </select>
              </td>
            </tr>
            <tr>
              <th scope="row">{{'variabileAbi'|translate}}</th>
              <td></td>
              <td><input ng-change="esegueOperazione();" ng-model="formData.schedaDoppler.pressione.abi.dx" type="number" class="form-control input-sm" style="text-align:right;" disabled></td>
              <td><input ng-change="esegueOperazione();" ng-model="formData.schedaDoppler.pressione.abi.sx" type="number" class="form-control input-sm" style="text-align:right;" disabled></td>
              <td></td>
            </tr>
          </tbody>
          <tr>
            <th scope="row" colspan="1" style="text-align: right;">
              <label>&#60;0,3</label><br>
              <label>0,3 - 0,7</label><br>
              <label>0,3 - 0,7</label><br>
              <label>0,3 - 0,7</label><br>
            </th>
            <td colspan="4">
              <label>: {{'variabileCritico'|translate}}</label><br>
              <label>: {{'variabilePatologico'|translate}}</label><br>
              <label>: {{'variabileLimite'|translate}}</label><br>
              <label>: {{'variabileNormale'|translate}}</label><br>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
